<!DOCTYPE html>
<html>
  <head>
    <title>A Postcard For You!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Hello Friend</h1>
    <p>Your side 1 is:@Model.Side1</p>
    <p>Your side 2 is:@Model.Side2</p>
    <p>Your side 3 is:@Model.Side3</p>
    <p>Your triangle type is @Model.CheckType()</p>
 
  </body>
</html>
